.dots {
	display: flex;
	align-items:center;
	gap: 8px;

}

.dots__item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 16px;
	height: 16px;
	border-radius: 50%;


	&::before {
		content: "";
		display: block;
		border-radius: 50%;
		width: 8px;
		height: 8px;
		background-color:  var(--neutral-04-1000);
	}

	&--active {
		border: 1px solid var(--neutral-07-1000);

		&::before {
			background-color: var(--neutral-07-1000);
		}
	}
}
